

body{
    font-family: "Raleway", sans-serif;
    max-width: auto;
    display:flex;
}


.wrapper{
    margin: 0 auto;
    display:flex;
}

.hero{
    width: 1200px;
    height: 450px;
    background-image: url('homeimage.png');
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.navleft{
    display:flex;
    align-content: center;
    justify-content: space-between;
}
.logo{
width: 134px;
height: 54px;
font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
padding-right:20px;
color: #000000;
}
.navright{
    display:flex;
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
    align-items: center;
}

.navlink{
    padding:30px;
}

.cart{
    background-image: url('shoppingcart.png');
    background-repeat: no-repeat;
    background-position: center;
    
}

.head{
    display:flex;
    justify-content: center;
}

h1.title{
padding-top:30px;
display: flex;
flex-direction: row;
padding: 12px 32px;
gap: 10px;
background: rgba(255, 255, 255, 0.75);
border-radius: 12px;
font-family: 'Prata',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 81px;
justify-content: center;
align-items: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.categorieslist{
    padding-top:15px;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

a{
    color:black;
    text-decoration: none !important;
}

.bodybg{
    background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 100%);

}


.navlogin{
    align-self: top;
    display: flex;
    padding-left:20px;
}
.logo{
    justify-self: flex-start;
}
.logo:hover{
    text-decoration: none;
    color: inherit;
}


.h2login{
    font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttondark{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 20px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #6C6A69;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height */
    color: #E9E9E7;
    justify-self:center;
    cursor:pointer;
    transition: background-color .5s;
}
.buttondark:hover{
    background-color:#545454;
}

.buttonlight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 20px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background: #B9A791;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height */
    justify-self:center;
    cursor:pointer;
    transition: background-color .5s;
}
.buttonlight:hover{
    background-color: #7E7262;
}
